body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#gameCanvas {
    display: block;
    background-color: #e0e0e0;
}

#ui {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(200, 200, 200, 0.9);
    padding: 10px;
    box-sizing: border-box;
}

#resourceControls, #buildingControls {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.control-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.resource-control, .building-control {
    display: flex;
    align-items: center;
    margin: 5px;
}

.resource-control button, .building-control button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.resource-control button, .building-control button, #saveButton, #resetButton, .craft-button {
    background-color: #4CAF50; /* Zelená */
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.resource-control button:hover, .building-control button:hover, #saveButton:hover, #resetButton:hover, .craft-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

#craftingTable {
    text-align: center;
}

#craftingTable h2 {
    margin: 0;
    padding: 5px;
}

#craftingTable table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

#craftingTable th, #craftingTable td {
    border: 1px solid #999;
    padding: 8px;
    text-align: center;
}

#craftingTable th {
    background-color: #ddd;
}

#saveButton, #resetButton {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
}

#saveButton, #resetButton {
    background-color: #008CBA; /* Modrá */
    color: white;
    border: none;
}

#saveButton:hover, #resetButton:hover {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.craft-button {
    background-color: #f0ad4e; /* Oranžová */
    color: white;
}

.craft-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #f0ad4e;
}